In [1]:
# DEPENDENCIES
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from datetime import datetime

# DATA FILES
path = "Data/region2016.csv"
path2 = "Data/Unemployment Rates by District.csv"

# READ OFFENCE DATA
data_w_offence = pd.read_csv(path)
data_w_offence

,District,Year,Offence Group,Total Number of Offences
0,Armadale District,16,Assault Police Officer,61.0
1,Armadale District,16,Attempted / Conspiracy to Murder,0.0
2,Armadale District,16,Breach of Family Violence Restraint Order,999.0
3,Armadale District,16,Breach of Police Order,192.0
4,Armadale District,16,Breach of Violence Restraint Order,165.0
...,...,...,...,...
859,Wheatbelt District,16,Stealing From Retail Premises (Shoplift),0.0
860,Wheatbelt District,16,Stealing as a Servant,6.0
861,Wheatbelt District,16,Stealing of Motor Vehicle,126.0
862,Wheatbelt District,16,Threatening Behaviour (Family),49.0
863,Wheatbelt District,16,Threatening Behaviour (Non-Family),48.0

In [2]:
# READ UNEMPLOYMENT
data_unemploy = pd.read_csv(path2)
data_unemploy

,District,Total Employed,Total Persons,Unemployed,Unemployment Rate (%)
0,Armadale District,221535.0,245095.0,23560.0,10.63
1,Cannington District,341107.0,375806.0,34699.0,10.17
2,Fremantle District,441626.0,474743.0,33117.0,7.50
3,Goldfields-Esperance Region,85914.0,91975.0,6061.0,7.05
4,Great Southern District,123299.0,129598.0,6299.0,5.11
5,Joondalup District,607592.0,658944.0,51352.0,8.45
6,Kimberley District,47019.0,51852.0,4833.0,10.28
7,Mandurah District,364681.0,409526.0,44845.0,12.30
8,Mid West-Gascoyne District,86739.0,94658.0,7919.0,9.13
9,Midland District,418225.0,452303.0,34078.0,8.15
10,Mirrabooka District,438507.0,476035.0,37528.0,8.56
11,Perth District,228282.0,244721.0,16439.0,7.20
12,Pilbara District,119276.0,124766.0,5490.0,4.60
13,South West District,270572.0,291865.0,21293.0,7.87
14,Wheatbelt District,84585.0,90189.0,5604.0,6.63

In [3]:
merged = pd.merge(data_w_offence, data_unemploy, how="left", on="District")
merged

,District,Year,Offence Group,Total Number of Offences,Total Employed,Total Persons,Unemployed,Unemployment Rate (%)
0,Armadale District,16,Assault Police Officer,61.0,221535.0,245095.0,23560.0,10.63
1,Armadale District,16,Attempted / Conspiracy to Murder,0.0,221535.0,245095.0,23560.0,10.63
2,Armadale District,16,Breach of Family Violence Restraint Order,999.0,221535.0,245095.0,23560.0,10.63
3,Armadale District,16,Breach of Police Order,192.0,221535.0,245095.0,23560.0,10.63
4,Armadale District,16,Breach of Violence Restraint Order,165.0,221535.0,245095.0,23560.0,10.63
...,...,...,...,...,...,...,...,...
859,Wheatbelt District,16,Stealing From Retail Premises (Shoplift),0.0,84585.0,90189.0,5604.0,6.63
860,Wheatbelt District,16,Stealing as a Servant,6.0,84585.0,90189.0,5604.0,6.63
861,Wheatbelt District,16,Stealing of Motor Vehicle,126.0,84585.0,90189.0,5604.0,6.63
862,Wheatbelt District,16,Threatening Behaviour (Family),49.0,84585.0,90189.0,5604.0,6.63
863,Wheatbelt District,16,Threatening Behaviour (Non-Family),48.0,84585.0,90189.0,5604.0,6.63

In [4]:
merged.to_csv('Data/unemployment_offences.csv',index=False)