In [97]:
# DEPENDENCIES
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from datetime import datetime

# DATA FILES
path_crime_data = "Data/crime_data.csv"

# READ CRIME DATA
raw_crime_data = pd.read_csv(path_crime_data)
raw_crime_data

,Website Region,WAPOL_Hierarchy_order_Lvl1,WAPOL_Hierarchy_Lvl1,WAPOL_Hierarchy_order_Lvl2,WAPOL_Hierarchy_Lvl2,Period,Year,Key,MonthYear,COUNT_of_Offnc_ID
0,Armadale District,1.1,Murder,1,Homicide,1-Jan-07,2006-07,Armadale DistrictMurderHomicide12007,12007,NaN
1,Armadale District,1.1,Murder,1,Homicide,1-Feb-07,2006-07,Armadale DistrictMurderHomicide22007,22007,NaN
2,Armadale District,1.1,Murder,1,Homicide,1-Mar-07,2006-07,Armadale DistrictMurderHomicide32007,32007,1.0
3,Armadale District,1.1,Murder,1,Homicide,1-Apr-07,2006-07,Armadale DistrictMurderHomicide42007,42007,NaN
4,Armadale District,1.1,Murder,1,Homicide,1-May-07,2006-07,Armadale DistrictMurderHomicide52007,52007,NaN
...,...,...,...,...,...,...,...,...,...,...
143095,Wheatbelt District,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,1-Nov-19,2019-20,Wheatbelt DistrictBreach of Police OrderBreach...,112019,5.0
143096,Wheatbelt District,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,1-Dec-19,2019-20,Wheatbelt DistrictBreach of Police OrderBreach...,122019,7.0
143097,Wheatbelt District,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,1-Jan-20,2019-20,Wheatbelt DistrictBreach of Police OrderBreach...,12020,5.0
143098,Wheatbelt District,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,1-Feb-20,2019-20,Wheatbelt DistrictBreach of Police OrderBreach...,22020,1.0
143099,Wheatbelt District,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,1-Mar-20,2019-20,Wheatbelt DistrictBreach of Police OrderBreach...,32020,4.0

In [98]:
# DROP IRRELEVANT COLUMNS
del raw_crime_data['WAPOL_Hierarchy_order_Lvl1']

In [99]:
del raw_crime_data['WAPOL_Hierarchy_order_Lvl2']

In [100]:
del raw_crime_data['Year']

In [101]:
del raw_crime_data['Key']

In [102]:
del raw_crime_data['MonthYear']

In [103]:
raw_crime_data

,Website Region,WAPOL_Hierarchy_Lvl1,WAPOL_Hierarchy_Lvl2,Period,COUNT_of_Offnc_ID
0,Armadale District,Murder,Homicide,1-Jan-07,NaN
1,Armadale District,Murder,Homicide,1-Feb-07,NaN
2,Armadale District,Murder,Homicide,1-Mar-07,1.0
3,Armadale District,Murder,Homicide,1-Apr-07,NaN
4,Armadale District,Murder,Homicide,1-May-07,NaN
...,...,...,...,...,...
143095,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Nov-19,5.0
143096,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Dec-19,7.0
143097,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Jan-20,5.0
143098,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Feb-20,1.0
143099,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Mar-20,4.0

In [104]:
raw_crime_data = raw_crime_data.rename(columns={"Website Region":"District", 
                               "WAPOL_Hierarchy_Lvl1":"Offence Group", 
                               "WAPOL_Hierarchy_Lvl2":"Offence", 
                               "Period":"Offence Date", 
                               "COUNT_of_Offnc_ID":"Total Number of Offences"})
raw_crime_data

,District,Offence Group,Offence,Offence Date,Total Number of Offences
0,Armadale District,Murder,Homicide,1-Jan-07,NaN
1,Armadale District,Murder,Homicide,1-Feb-07,NaN
2,Armadale District,Murder,Homicide,1-Mar-07,1.0
3,Armadale District,Murder,Homicide,1-Apr-07,NaN
4,Armadale District,Murder,Homicide,1-May-07,NaN
...,...,...,...,...,...
143095,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Nov-19,5.0
143096,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Dec-19,7.0
143097,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Jan-20,5.0
143098,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Feb-20,1.0
143099,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Mar-20,4.0

In [105]:
list(raw_crime_data.columns)

['District',
 'Offence Group',
 'Offence',
 'Offence Date',
 'Total Number of Offences']

In [106]:
# new data frame with split value columns 
new = raw_crime_data["Offence Date"].str.split("-", n = 2, expand = True) 
# making separate first name column from new data frame 
raw_crime_data["Month"]= new[1]
# making separate last name column from new data frame 
raw_crime_data["Year"]= new[2]
raw_crime_data

,District,Offence Group,Offence,Offence Date,Total Number of Offences,Month,Year
0,Armadale District,Murder,Homicide,1-Jan-07,NaN,Jan,07
1,Armadale District,Murder,Homicide,1-Feb-07,NaN,Feb,07
2,Armadale District,Murder,Homicide,1-Mar-07,1.0,Mar,07
3,Armadale District,Murder,Homicide,1-Apr-07,NaN,Apr,07
4,Armadale District,Murder,Homicide,1-May-07,NaN,May,07
...,...,...,...,...,...,...,...
143095,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Nov-19,5.0,Nov,19
143096,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Dec-19,7.0,Dec,19
143097,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Jan-20,5.0,Jan,20
143098,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Feb-20,1.0,Feb,20
143099,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1-Mar-20,4.0,Mar,20

In [107]:
del raw_crime_data['Offence Date']

In [108]:
#convert year column from string into integer
raw_crime_data['Year'] = raw_crime_data['Year'].astype(int)

In [109]:
#remove data prior to 2010
raw_crime_data.loc[raw_crime_data["Year"]>=10]

,District,Offence Group,Offence,Total Number of Offences,Month,Year
36,Armadale District,Murder,Homicide,2.0,Jan,10
37,Armadale District,Murder,Homicide,2.0,Feb,10
38,Armadale District,Murder,Homicide,NaN,Mar,10
39,Armadale District,Murder,Homicide,NaN,Apr,10
40,Armadale District,Murder,Homicide,NaN,May,10
...,...,...,...,...,...,...
143095,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,5.0,Nov,19
143096,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,7.0,Dec,19
143097,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,5.0,Jan,20
143098,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,1.0,Feb,20
143099,Wheatbelt District,Breach of Police Order,Breach of Violence Restraint Order,4.0,Mar,20

In [110]:
#groupby offenc
raw_crime_data.to_csv('crimedataclean.csv',sep=',')

In [111]:
grouped = raw_crime_data.groupby(['District', 'Offence Group']) 
  
grouped.first()

                                                                                         Offence  \
District           Offence Group
Armadale District  Assault Police Officer                                   Assault (Non-Family)
                   Attempted / Conspiracy to Murder                                     Homicide
                   Breach of Family Violence Restraint Order  Breach of Violence Restraint Order
                   Breach of Police Order                     Breach of Violence Restraint Order
                   Breach of Violence Restraint Order         Breach of Violence Restraint Order
...                                                                                          ...
Wheatbelt District Stealing From Retail Premises (Shoplift)                             Stealing
                   Stealing as a Servant                                                Stealing
                   Stealing of Motor Vehicle                           Stealing of Motor Vehicle
                   Threatening Behaviour (Family)                 Threatening Behaviour (Family)
                   Threatening Behaviour (Non-Family)         Threatening Behaviour (Non-Family)

                                                              Total Number of Offences  \
District           Offence Group
Armadale District  Assault Police Officer                                          3.0
                   Attempted / Conspiracy to Murder                                1.0
                   Breach of Family Violence Restraint Order                      53.0
                   Breach of Police Order                                          2.0
                   Breach of Violence Restraint Order                              4.0
...                                                                                ...
Wheatbelt District Stealing From Retail Premises (Shoplift)                       11.0
                   Stealing as a Servant                                           1.0
                   Stealing of Motor Vehicle                                       8.0
                   Threatening Behaviour (Family)                                  2.0
                   Threatening Behaviour (Non-Family)                              7.0

                                                             Month  Year
District           Offence Group
Armadale District  Assault Police Officer                      Jan     7
                   Attempted / Conspiracy to Murder            Jan     7
                   Breach of Family Violence Restraint Order   Jan     7
                   Breach of Police Order                      Jan     7
                   Breach of Violence Restraint Order          Jan     7
...                                                            ...   ...
Wheatbelt District Stealing From Retail Premises (Shoplift)    Jan     7
                   Stealing as a Servant                       Jan     7
                   Stealing of Motor Vehicle                   Jan     7
                   Threatening Behaviour (Family)              Jan     7
                   Threatening Behaviour (Non-Family)          Jan     7

[864 rows x 4 columns]

In [112]:
grouped_district

,0,1
0,Armadale District,0 Murder 1 ...
1,Cannington District,7950 Murder 7951 ...
2,Fremantle District,15900 Murder 15901 ...
3,Goldfields-Esperance District,23850 Murder 23851 ...
4,Great Southern District,31800 Murder 31801 ...
5,Joondalup District,39750 Murder 39751 ...
6,Kimberley District,47700 Murder 47701 ...
7,Mandurah District,55650 Murder 55651 ...
8,Metropolitan Region,63600 Murder 63601 ...
9,Mid West-Gascoyne District,71550 Murder 71551 ...
10,Midland District,79500 Murder 79501 ...
11,Mirrabooka District,87450 Murder 87451 ...
12,Perth District,95400 Murder 95401 ...
13,Pilbara District,103350 Murder 103351 ...
14,Regional WA Region,111300 Murder 111301 ...
15,South West District,119250 Murder 119251 ...
16,Western Australia,127200 Murder 127201 ...
17,Wheatbelt District,135150 Murder 135151 ...